<div class="container">
    <h3><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
        Evapotranspiração
    </h3>
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <h5>Selecione o método de irrigação:</h5>
                <select ng-model="dados.metodo" class="form-control" ng-options="metodo as metodo.nome group by metodo.grupo for metodo in metodos| orderBy:'nome' track by metodo.id" ng-model="selected"></select>
                <h5>Selecione a cultura:</h5>
                <select ng-model="dados.cultura" class="form-control" ng-options="cultura as cultura.nome for cultura in culturas| orderBy:'nome' track by cultura.id" ng-model="selected"></select>
                <h5>Selecione o estádio de desenvolvimento:</h5>
                <select ng-model="dados.estadio" class="form-control">
                    <option label="Inicial" value="inicial">Inicial</option>
                    <option label="Desenvolvimento" value="desenvolvimento">Desenvolvimento</option>
                    <option label="Intermediario" value="intermediario">Intermediario</option>
                    <option label="Final" value="final">Final</option>
                    <option label="Colheita" value="colheita">Colheita</option>
                </select>
                <h5>Selecione o tipo de solo:</h5>
                <select ng-model="dados.solo" class="form-control" ng-options="solo as solo.nome for solo in solos| orderBy:'nome' track by solo.id" ng-model="selected"></select>
                <h5>Altitude:</h5>
                <input ng-model="dados.altitude" type="text" class="form-control">
                <h5>Latitude:</h5>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="input-group">
                            <h6>Graus:</h6>
                            <input ng-model="dados.graus" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <h6>Minutos:</h6>
                            <input ng-model="dados.minutos" type="text" class="form-control">
                        </div>
                    </div>
                </div>

                <h5>Região:</h5>
                <input type="radio" ng-model="dados.regiao" value="Continente">
                Continente
                <input type="radio" ng-model="dados.regiao" value="Costeira">
                Costeira
                <br>
                <br>
                <button type="button" class="btn btn-success" ng-click="postEvapotranspiracao()" 
                        ng-disabled="!dados.metodo || !dados.cultura || !dados.estadio || !dados.solo ||
                                    !dados.altitude || !dados.graus || !dados.minutos || !dados.regiao">Verificar</button>
                <br>
                <h3>{{opcao}}</h3>
                <h3>Lâmina Líquida: {{ll}}</h3>
                <h3>Lâmina Bruta: {{lb}}</h3>
            </div>
        </div>
    </div>
    <canvas height="300" width="600" class="chart chart-line" chart-data="data" chart-labels="labels" 
            chart-series="series" chart-click="onClick">
    </canvas>
</div>
